server:
  port: 8081

spring:
  application:
    name: tenant-service

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.kesmarki.inticky: INFO
    root: INFO
